#element1{
    background-color: aqua;
    margin-top: 40px;
    margin-right: 4px;
    margin-bottom: 67px;
    margin-left: 20px;
     
}

#element2{
    background-color: tomato;
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 30px;
    margin-left: 20px;

}

#element3{
    background-color: palegreen;
    margin-top: -45px;
    margin-right: 4px;
    margin-bottom: 67px;
    margin-left: 0px;
}

#element4{
    background-color: purple;
    margin-top: -60px;
    margin-right: 4px;
    margin-bottom: 67px;
    margin-left: 115px;
}