*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;

}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 300px;
    height: 600px;
    left: 298px;
    background-color: red;
}

 #middenkant{
    background-color: white;
    width: 300px;
    height: 600px;
    margin: 30px;
    margin-right: 40px;
    margin-left:300px;
    margin-top:-600px;
}

#onderkant{
    background-color:blue;
    width: 300px;
    height: 600px;
    margin: 30px;
    margin-right: 40px;
    margin-left: 600px;
    margin-top: -631px;

}