#element1{
    background-color: aqua;
    border: 5px dashed purple;
        
}

#element2{
    background-color: tomato;
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
}

#element3{
    background-color: palegreen;
    border-bottom: 5px double brown;
}

#element4{
    background-color: purple;
    border-top: 5px dotted white;
}