*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 187px;
    background-color:lightblue;
}
#witstukje{
    width: 900px;
    height: 20px;
    background-color: white;
}
#middenkant{
    width: 900px;
    height: 187px;
    background-color:black;
  
}
#zwartstukje{
    width: 900px;
    height: 20px;
    background-color: white;
}

#onderkant{
    width: 900px;
    height: 187px;
    background-color:lightblue;
}